<div>
  <div class="flex flex-wrap gap-4 mb-6">
    <%= form_with url: root_path, method: :get, local: true do |form| %>
      <div class="flex gap-2">
        <%= form.label :status %>
        <%= form.select :status, ['pending', 'completed'], include_blank: true, class: "form-select" %>
        <%= form.label :department %>
        <%= form.select :department, Employee.distinct.pluck(:department), include_blank: true, class: "form-select" %>
        <%= form.submit "Filter", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <% @employees.each do |emp| %>
      <div class="mb-6 p-4 border rounded-lg shadow-sm">
        <h3 class="text-xl font-semibold mb-2"><%= emp.name %> - <%= emp.department %></h3>
        <ul>
          <% emp.onboarding_tasks.each do |task| %>
            <li class="flex items-center justify-between py-2 border-b">
              <span><%= task.task_name %> - <span class="<%= task.status == 'completed' ? 'text-green-500' : 'text-yellow-500' %>"><%= task.status.capitalize %></span></span>
              <% if task.status == 'pending' %>
                <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#completeModal" data-task-id="<%= task.id %>"> Mark as Completed </button>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="completeModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Completion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to mark this task as completed?
        </div>
        <div class="modal-footer">
          <form id="completeTaskForm" action="" method="post" data-turbo="false">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag "_method", "patch" %>
            <input type="hidden" id="taskId" name="id">
            <button type="submit" class="btn btn-primary">Yes</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var completeModal = document.getElementById('completeModal')
  completeModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var taskId = button.getAttribute('data-task-id')
    var form = completeModal.querySelector('form')
    form.action = '/onboarding_tasks/' + taskId
    document.getElementById('taskId').value = taskId
  })
</script>

