

<div class="container mt-5">
  <% if alert = flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if notice = flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="notice">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="card shadow-lg border border-primary">
    <div class="card-body">
      <h1 class="card-title text-primary display-4 fw-bold">Login</h1>
      <%= form_with url: session_url, class: "row g-3" do |form| %>
        <div class="col-12">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control border-primary" %>
        </div>
        <div class="col-12">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control border-primary" %>
        </div>
        <div class="col-12 d-flex justify-content-between align-items-center">
          <%= form.submit "Sign in", class: "btn btn-primary" %>
          <div class="text-muted"><%= render 'shared/users' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

