

<div class="container mt-5">
  <% if alert = flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if notice = flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="notice">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="card shadow-lg border border-primary p-4">
    <h1 class="card-title display-4 fw-bold text-primary">Sign Up</h1>
    <%= form_with(model: @user, url: registrations_path, local: true, class: "row g-3") do |form| %>
      <%= render 'shared/form_errors', model: @user %>
      <div class="col-12">
        <%= form.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: "Enter your Username", class: "form-control border-primary" %>
      </div>
      <div class="col-12">
        <%= form.email_field :email_address, required: true, autocomplete: "email", placeholder: "Enter your email address", class: "form-control border-primary" %>
      </div>
      <div class="col-12">
        <%= form.label :department, "Select your department", class: "form-label" %>
        <%= form.select :department, Department.all.pluck(:name), prompt: "Choose Department", class: "form-select border-primary" %>
      </div>
      <div class="col-12">
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter your password", maxlength: 72, class: "form-control border-primary" %>
      </div>
      <div class="col-12">
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Enter your password again", maxlength: 72, class: "form-control border-primary" %>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <%= form.submit "Sign Up", class: "btn btn-primary" %>
        <div class="text-muted"><%= render 'shared/users' %></div>
      </div>
    <% end %>
  </div>
</div>