<nav class="bg-indigo-600 text-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">
    <!-- Logo or Home Link -->
    <div class="text-2xl font-bold">
      <%= link_to "HR Dashboard", root_path, class: "hover:text-indigo-300" %>
    </div>

    <!-- Admin Links -->
    <% if Current.user&.admin? %>
      <div class="md:flex space-x-6">
        <%= link_to "Admin Dashboard", admin_dashboard_path, class: "nav-text" %>
        <%= link_to "Assign Task", admin_assign_task_path, class: "text-white" %>
      </div>
    <% end %>

    <!-- Authentication Links -->
    <div class="flex items-center space-x-4">
      <% if Current.user %>
        <%= button_to "Log out", session_path, method: :delete, class: "bg-red-500 hover:bg-red-400 text-white font-medium py-2 px-4 rounded" %>
      <% else %>
        <%= link_to "Log in", new_session_path, class: "bg-green-500 hover:bg-green-400 text-white font-medium py-2 px-4 rounded" %>
      <% end %>
    </div>
  </div>
</nav>